pytest
pytest-asyncio
numpy
aiosqlite
watchfiles
autograd
aiohttp

# Optional quantum dependencies
# qiskit (install with `pip install .[quantum]`)

# Optional quantisation dependencies
# bitarray (install with `pip install bitarray`)
